### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
*.class
*.class
*.class
target/classes/com/expensetracker/controllers/MainViewController$1.class
*.class
target/classes/com/expensetracker/controllers/MainViewController$1.class
target/classes/com/expensetracker/controllers/MainViewController.class
target/classes/com/expensetracker/Expense$expenseType.class
target/classes/com/expensetracker/Expense.class
target/classes/com/expensetracker/ExpenseMap.class
